
.navbar-orange {
    background-color: #ff6600; /* Arancione scuro */
  }

  .nascondi {
    display: none;
  }

  .ml-3 {
    margin-left: 20px; /* O qualsiasi altra spaziatura desiderata */
  }

  .custom-padding {
    padding-left: 40px; /* Sostituisci con il valore di padding desiderato */
    padding-right: 40px; /* Sostituisci con il valore di padding desiderato */
    padding-top: 20px; /* Sostituisci con il valore di padding desiderato */
  }

  .form-control::placeholder {
    font-size: 0.8em; /* Modifica la dimensione del testo del suggerimento */
  }

  .expired-proposal {
    opacity: 0.7; /* Riduci l'opacità per indicare che la proposta è scaduta */
    pointer-events: none; /* Disabilita gli eventi del mouse sulla card */
    /* Altri stili per indicare che la proposta è scaduta */
  }
  .expired-label {
    color: red;
    font-weight: bold;
    margin-left: 20px; 
  }
    